/* Global */
*, *::before, *::after {
	box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 14px;
    line-height: 1.5; 
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 70px 0 0;
}
